<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
 <title>豆瓣电影</title>
 <link rel="icon" href="../img/favicon.ico" type="image/x-icon" />
 <link rel="stylesheet" type="text/css" href="../css/douban-movie.css">
</head>
<body ng-app="douban-movie" ng-controller="rootController">
	<div class="movie-list" ng-controller="movieListCtrl" movielist>
		<div class="header">
			<span class="top-nav" topnav></span>
			<h2 class="title">豆瓣电影</h2>
		</div>
		<div class="sidebar">
			<ul>
				<li>
					<div class="user-info">
						<img src="../img/me.jpg">
						<h3 class="name">沙朝恒</h3>
					</div>
				</li>
				<li class="active">最新电影</li>
				<li>top100</li>
				<li>我来占个位子</li>
				<li>我来占个位子</li>
				<li>我来占个位子</li>
				<li>我来占个位子</li>
				<li>我来占个位子</li>
			</ul>
		</div>
		<ul class="content">
			<li class="item" href="#/movie/{{movie.id}}" ng-repeat="movie in movies" movieitem>
				<div class="cover">
					<img ng-src="{{movie.img}}" alt="{{movie.title}}" />
				</div>
				<h3 class="title">{{movie.title}}</h3>
				<p class="description">导演: {{movie.director}}</p>
				<p class="description">主演: {{movie.actors}} /...</p>
				<p class="description">地区: {{movie.region}}</p>
				<div class="rating" ng-if="movie.rate">
					<span class="midstar midstar{{movie.star}}"></span>
					<span class="rate">{{movie.rate}}</span>
				</div>
				<div class="rating" ng-if="!movie.rate">
					<span class="rate">暂无评分</span>
				</div>
			</li>
		</ul>
		<div class="wrapper" ng-show="showSidebar"></div>
	</div>
	
	<div class="movie-detail" ng-controller="movieDetailCtrl" moviedetail>
		<div class="header">
			<span class="arrow-left" backtolist></span>
			<h2 class="title">{{movie.title}}</h2>
		</div>
		<div class="content">
			<div class="menu">
				<h3 class="title">影片信息</h3>
			</div>
			<div class="info">
				<div class="cover">
					<img ng-src="{{movie.images.large}}" alt="{{movie.title}}" />
				</div>
				<h2 class="title">{{movie.title}}</h2>
				<div class="rating" ng-if="movie.rating">
					<span class="bigstar bigstar{{movie.rating.stars}}"></span>
					<span class="rate"> {{movie.rating.average}} ({{movie.ratings_count}}人评分)</span>
				</div>
				<div class="rating" ng-if="!movie.rating">
					<span class="rate">暂无评分</span>
				</div>
				<p class="description">导演:
					<span ng-repeat="director in movie.directors">{{director.name}}/
					</span> 
				</p>
				<p class="description">演员:
					<span ng-repeat="cast in movie.casts">{{cast.name}}/
					</span> 
				</p>
				<p class="description">地区: {{movie.countries.join('/')}}</p>
				<p class="description">类型: {{movie.genres.join('/')}}</p>
				<p class="description">上映时间: {{movie.year}}</p>
			</div>
			<div class="menu">
				<h3 class="title">剧情简介</h3>
			</div>
			<div class="summary">
				<p class="description">{{movie.summary}}</p>
			</div>
			<div class="menu">
				<h3 class="title">影评</h3>
				<span class="load-review"  ng-hide="hasLoadReview" scrolltoload>向下滑动加载影评</span>
			</div>
			<ul class="reviews" ng-show="hasLoadReview">
				<li class="review-item" href="#/review/{{review.id}}" ng-repeat="review in reviews" reviewitem>
					<h3 class="title">{{review.title}}</h3>
					<p class="description">{{review.content}}</p>
					<span class="author">{{review.author}}</span>
					<span class="midstar midstar{{review.star}}"></span>
				</li>
			</ul>
		</div>
		<div class="footer">
			<p>@MainPage</p>
			<p>based on AngularJs and Nodejs</p>
			<p>thanks for douban</p>
		</div>
		<div class="loading-circle" ng-show="isLoadingReview"></div>
	</div>

	<div class="review-detail" ng-controller="reviewDetailCtrl" reviewdetail>
		<div class="header">
			<span class="arrow-left" backtomovie></span>
			<h2 class="title">{{review.movieTitle}}</h2>
		</div>
		<div class="content">
			<h2 class="title">{{review.title}}</h2>
			<span class="author">{{review.author}}</span>
			<span class="midstar midstar{{review.star*10}}"></span>
			<p class="description" ng-bind-html="review.content"></p>
		</div>
		<div class="footer">
			<p>@MainPage</p>
			<p>based on AngularJs and Nodejs</p>
			<p>thanks for douban</p>
		</div>
	</div>

  <div class="loading-circle" ng-show="showLoading"></div>
  <div class="wrapper" ng-show="showLoading"></div>

	<script src="../framework/angular.min.js" type="text/javascript"></script>
	<script src="../framework/angular-sanitize.min.js" type="text/javascript"></script>
  <script src="../js/app.js"></script>
</body>
</html>