<div class="movie-detail">
	<div class="header">
		<span class="arrow-left" ng-click="backToList()"></span>
		<h2 class="title">{{movie.title}}</h2>
	</div>
	<div class="content">
		<div class="menu">
			<h3 class="title">影片信息</h3>
		</div>
		<div class="info">
			<div class="cover">
				<img ng-src="{{movie.images.large}}" alt="movie.title" />
			</div>
			<h2 class="title">{{movie.title}}</h2>
			<div class="rating" ng-if="movie.rating">
				<span class="bigstar bigstar{{movie.rating.stars}}"></span>
				<span class="rate"> {{movie.rating.average}} ({{movie.ratings_count}}人评分)</span>
			</div>
			<div class="rating" ng-if="!movie.rating">
				<span class="rate">暂无评分</span>
			</div>
			<p class="description">导演:
				<span ng-repeat="director in movie.directors">{{director.name}}/
				</span> 
			</p>
			<p class="description">演员:
				<span ng-repeat="cast in movie.casts">{{cast.name}}/
				</span> 
			</p>
			<p class="description">地区: {{movie.countries.join('/')}}</p>
			<p class="description">类型: {{movie.genres.join('/')}}</p>
			<p class="description">上映时间: {{movie.year}}</p>
		</div>
		<div class="menu">
			<h3 class="title">剧情简介</h3>
		</div>
		<div class="summary">
			<p class="description">{{movie.summary}}</p>
		</div>
		<div class="menu">
			<h3 class="title">影评</h3>
			<span class="load-review" ng-click="loadReviews()" ng-hide="hasLoadReview">加载影评</span>
		</div>
		<div class="reviews">
			<a class="review-item" href="#/review/{{review.id}}" ng-repeat="review in reviews">
				<h3 class="title">{{review.title}}</h3>
				<p class="description">{{review.content}}</p>
				<span class="author">{{review.author}}</span>
				<span class="midstar midstar{{review.star}}"></span>
			</a>
		</div>
	</div>
</div>