body, html, h2, h3, h4, p, ul{ margin: 0px; padding: 0px;}
body{ position: relative; color: #333333; background: #eeeff2; font: 13px/1.5 'Microsoft Yahei', 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans'; overflow-y: scroll; overflow-x: hidden;}
ul{ list-style: none;}
table{ border-collapse: collapse; border-spacing: 0px;}
a{ text-decoration: none; color: #000;}

@-webkit-keyframes loading-circle{
  from{ -webkit-transform: rotate(0deg);}
  to{ -webkit-transform: rotate(360deg);}
}

@-moz-keyframes loading-circle{
  from{ -moz-transform: rotate(0deg);}
  to{ -moz-transform: rotate(360deg);}
}

@keyframes loading-circle{
  from{ transform: rotate(0deg);}
  to{ transform: rotate(360deg);}
}

.header{ position: relative; background-color: #ff6e66;}
.header .title{ height: 46px; line-height: 46px; color: #fff; text-align: center;}
.loading-circle{ position: fixed; top: 50%; left: 50%; width: 64px; height: 64px; margin: -32px 0px 0px -32px;background: url(../img/loading.png) no-repeat; background-size: 64px; -webkit-animation: loading-circle 600ms ease-out infinite; -moz-animation: loading-circle 600ms ease-out infinite; animation: loading-circle 600ms ease-out infinite; z-index: 100;} 
.arrow-left{ position: absolute; left: 0; top: 0; width: 50px; height: 100%; background: url(../img/arrow_left.png) center no-repeat; background-size: 12px;}
.wrapper{ position: absolute; top: 46px; left: 0px; width: 100%; height: 600px; background-color:#eeeff2;  z-index: 10;}

/*列表页开始*/
.movie-list{ position: relative; padding-top: 46px; z-index: 2;}
.movie-list .header{ position: fixed; top: 0px; left: 0px; width: 100%; z-index: 2;}
.movie-list .header .top-nav{ position: absolute; top: 0px; left: 0px; width: 50px; height: 100%; background: url(../img/top-nav.png) center no-repeat; background-size: 25px;}
.movie-list .header .order-select{ position: absolute; top: 10px; right: 10px; border: 0px;  font-size: 16px; font-family: "Helvetica Neue";}
.movie-list .sidebar{ position: fixed; top: 46px; left: -240px; width: 200px; height: 600px;  padding-top: 10px; border-right: 1px solid #DCDBDB; background-color: #fff; -webkit-transition: left 0.2s; -moz-transition: left 0.2s; transition: left 0.2s; z-index: 2;}
.movie-list .sidebar li{ padding: 10px 10px 10px 25px; border-bottom: 1px solid #D8D8D8; font-size: 15px;}
.movie-list .sidebar li.active{ background-color: #ff6e66; color: #fff;}
.movie-list .sidebar .user-info { height: 60px;}
.movie-list .sidebar .user-info img{ float: left; height: 60px; margin-right: 15px;}
.movie-list .sidebar .user-info .name{ height: 60px; line-height: 60px;}
.movie-list .content .item{ display: block; position: relative; background-color: #fff; padding: 8px 80px 8px 14px; margin:5px 0px 0px 0px; overflow: hidden;}
.movie-list .content .item-active{ background: #E2E2E2;}
.movie-list .content .item .title{ display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; }
.movie-list .content .item .cover{ width: 85px; height: 120px; float: left; margin-right: 15px; background-color: #eeeff2;}
.movie-list .content .item .cover img{ height: 120px;}
.movie-list .content .item .mark{ position: absolute; top: 50px; right: 15px; padding: 3px 8px; border-radius: 3px; color: #fff; background-color: #C1BAB9; font-size: 13px;}
.movie-list .content .item .mark.active{ background-color: #ff6d64;}
/*:after清除浮动*/
/*.movie-list .content .item:after{ content:''; display: block; clear: both;}*/
.movie-list .content .item .description{ color: #908E8E;}
.movie-list .content .item .rating{ height: 20px; line-height: 20px;}
.movie-list .wrapper{ height: 100%; background-color: rgba(138, 134, 134, 0.3); z-index: 1;}
/*rating star*/
.midstar{ display: inline-block; width: 55px; height: 11px; background: url(../img/midstars.gif) center no-repeat;}
.midstar50{ background-position: 0  0px;}
.midstar45{ background-position: 0 -11px;}
.midstar40{ background-position: 0 -22px;}
.midstar35{ background-position: 0 -33px;}
.midstar30{ background-position: 0 -44px;}
.midstar25{ background-position: 0 -55px;}
.midstar20{ background-position: 0 -66px;}
.midstar15{ background-position: 0 -77px;}
.midstar10{ background-position: 0 -88px;}
.midstar05{ background-position: 0 -99px;}
.midstar00{ background-position: 0 -110px;}

/*详情页开始*/
.movie-detail{ display: none; position: absolute; top: 0px; left: 100%; width: 100%; background: #eeeff2; -webkit-transition: left 0.5s; -moz-transition: left 0.5s; transition: left 0.5s; z-index: 3;}
.movie-detail .content .menu{ position: relative; margin: 5px 15px; }
.movie-detail .content .menu .title{ font-family: Arial; font-size: 18px;}
.movie-detail .content .menu .load-review{ position: absolute; top: 0px; right: 0px; padding: 3px 5px; border-radius: 3px; color: #fff; background-color: #ff6d64; font-size: 13px;}
.movie-detail .content .description{ color: #908E8E; font-size: 15px;}
.movie-detail .content .info, .movie-detail .summary, .movie-detail .reviews .review-item{ margin: 0px 10px 10px 5px; padding: 10px; text-align: center; background-color: #fff;}
.movie-detail .content .info .cover{ display:inline-block; height: 220px; margin: 5px; padding: 5px; background-color: #F37770; vertical-align: middle;}
.movie-detail .content .info img{ height: 220px; vertical-align: middle;}
.movie-detail .content .info .rating{ height: 25px; line-height: 25px; font-size: 15px;}
.movie-detail .content .summary{ text-align: justify;}
.movie-detail .content .reviews .review-item{ display: block; text-align: left;}
.movie-detail .content .reviews .review-item-active{ display: block; text-align: left; background: #E2E2E2;}
.movie-detail .content .reviews .review-item .description{ margin: 5px 0px; text-align: justify;}
.movie-detail .footer{ padding: 10px; line-height: 25px; border-top: 5px solid #eeeff2; color: #aaa; background-color: #fff; text-align: center;}
/*rating star*/
.bigstar{ display: inline-block; width: 75px; height: 14px; background: url(../img/bigstars.gif) center no-repeat;}
.bigstar45{ background-position: 0 -14px;}
.bigstar40{ background-position: 0 -28px;}
.bigstar35{ background-position: 0 -42px;}
.bigstar30{ background-position: 0 -56px;}
.bigstar25{ background-position: 0 -70px;}
.bigstar20{ background-position: 0 -84px;}
.bigstar15{ background-position: 0 -98px;}
.bigstar10{ background-position: 0 -112px;}
.bigstar05{ background-position: 0 -126px;}
.bigstar00{ background-position: 0 -140px;}

/*影评详情页开始*/
.review-detail{ display: none; position: absolute; top: 0px; left: 100%; width: 100%; background: #eeeff2; -webkit-transition: left 0.5s; -moz-transition: left 0.5s; transition: left 0.5s; z-index: 4;}
.review-detail .content{ margin:5px 10px; padding: 12px; background-color: #fff;}
.review-detail .content .title{ margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px dotted;}
.review-detail .content .description{ margin-top: 10px; color: #908E8E; font-size: 15px; text-align: justify;}
.review-detail .footer{ padding: 10px; line-height: 25px; border-top: 5px solid #eeeff2; color: #aaa; background-color: #fff; text-align: center;}
